 /* Header */

#Header{
    height: 150px;
    width: 100%;
    background-color: rgb(0, 119, 255);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-position: 20% 10%;

}

#Logo{


}

h1{
    font-size: 50px;
    margin: auto;
}

#color-writer{
    color: rgb(0, 119, 255);
}

.font-header{
    color: gray;
}

.paragraph{
  margin: auto;
}

/* MAIN */

/* Second Section */

#color-table1{
    background-color: rgb(0, 119, 255);
    color: white;
}

.color-table2{
    background-color: rgb(109, 250, 250);
}

.yellow-text{
    background-color: yellow;
}

/* Footer */

h4{
   color: gray;
}